<div class="author">
  <h1 class="author__heading">Mindshift.</h1>
  <p class="author__body">Think, Unthink, Rethink Reality.</p>
</div>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <img src="<%= post.imageUrl %>" alt="<%= post.title %>" class="post-image" width="300" height="200">
          <span class="article-title"><%= post.title %></span>
          <span class="article-list__date"><br><br><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>

</section>
